{
  "printWidth": 10000,
  "semi": true,
  "tabWidth": 2,
  "useTabs": true,
  "trailingComma": "es5",
  "quoteProps": "as-needed",
  "bracketSameLine": true,
  "arrowParens": "always",
  "htmlWhitespaceSensitivity": "ignore",
  "vueIndentScriptAndStyle": true,
  "embeddedLanguageFormatting": "auto",
  "singleAttributePerLine": false,
  "proseWrap":"preserve"
}
